<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.mapper.UserMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <select id="selectUserRoles" parameterType="string" resultType="map">
		
		SELECT
		  tr.`rolename`
		FROM
		  t_user tu
		  LEFT JOIN t_role tr
		    ON tu.`role_id` = tr.`id`
		WHERE tu.`username` = #{username}
    </select>
    
     <select id="getPermissions" parameterType="string" resultType="string">
		
		    SELECT
			  tp.`permissionname`
			FROM
			  t_user tu
			  LEFT JOIN t_role tr
			    ON tu.`role_id` = tr.`id`
			  LEFT JOIN t_permission tp
			    ON tr.`id` = tp.role_id
			WHERE tu.`username` = #{username}
			
    </select>


</mapper>
