<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.mapper.ClassDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.piesat.entity.Class">
        <id column="cid" property="cid" />
        <result column="caption" property="caption" />
    </resultMap>
	
</mapper>
